{% extends 'base.html' %}
{% load static %}
{% block content %}


<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('{% static 'images/bg_1.jpg' %} ');" data-stellar-background-ratio="0.5">
<div class="overlay"></div>
<div class="container">
<div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
<div class="col-md-9 ftco-animate pb-5 text-center">
<h1 class="mb-3 bread">Contact us</h1>
<p class="breadcrumbs"><span class="mr-2"><a href="/">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>About <i class="ion-ios-arrow-forward"></i></span></p>
</div>
</div>
</div>
</section>
<section class="ftco-section contact-section">
<div class="container">
<div class="row d-flex mb-5 contact-info">
<div class="col-md-12 mb-4">
<h2 class="h3">Contact Information</h2>
</div>
<div class="w-100"></div>
<div class="col-md-3">
<p><span>Address:</span> 54A Mirzo Ulug'bek, Toshkent, Uzbekiston</p>
</div>
<div class="col-md-3">
<p><span>Phone:</span> <a href="tel://1234567920">+ 998 90 668 60 60</a></p>
</div>
<div class="col-md-3">
<p><span>Email:</span> <a href="https://preview.colorlib.com/cdn-cgi/l/email-protection#cca5a2aaa38cb5a3b9bebfa5b8a9e2afa3a1"><span class="__cf_email__" data-cfemail="355c5b535a754c5a4047465c41501b565a58">[email&#160;protected]</span></a></p>
</div>
<div class="col-md-3">
<p><span>Website</span> <a href="http://isystem.alimardondev.uz">iSystem.uz</a></p>
</div>
</div>
<div class="row block-9 no-gutters">
<div class="col-lg-6 order-md-last d-flex">
<form action="/" method="post" class="bg-light p-4 p-md-5 contact-form">
{% csrf_token %}
{#    {{ form.as_p }}#}
    <div class="form-group">
{#<input type="text" class="form-control" placeholder="Your Name">#}
    {{ form.name }}
    </div>
<div class="form-group">
{#<input type="text" class="form-control" placeholder="Your Email">#}
    {{ form.email }}
</div>
<div class="form-group">
{#<input type="text" class="form-control" placeholder="Subject">#}
    {{ form.phone }}
</div>
<div class="form-group">
{#<textarea name id cols="30" rows="7" class="form-control" placeholder="Message"></textarea>#}
    {{ form.message }}
</div>
<div class="form-group">
<input type="submit" value="Send Message" class="btn btn-primary py-3 px-5">
</div>
</form>
</div>
<div class="col-lg-6 d-flex">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2996.2775297577396!2d69.32244691003412!3d41.324578099771514!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38aef572e5842f55%3A0xa87fc261e04f75ea!2siSystem%20IT%20academy!5e0!3m2!1sen!2s!4v1714398202924!5m2!1sen!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
</div>
</div>
</section>


{% endblock %}